@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lets go to <a href="https://youtube.com">youtube</a>.</p>
</div>
